@using RestaurantApp.Blazor.Components.Layout
@using RestaurantApp.Blazor.Components
@inherits LayoutComponentBase

<MainHeader />
<NotificationList />
<div class="page">

    

    <main>
        <!-- reszta kodu... -->
        @Body
    </main>
</div>