@using RestaurantApp.Blazor.Components.Layout
@using RestaurantApp.Blazor.Components
@inherits LayoutComponentBase

<MainHeader />
<NotificationList />
<div class="page">

    

    <main>

        @Body
    </main>
</div>

<MessageList />