@using RestaurantApp.Blazor.Components.Layout
@using RestaurantApp.Blazor.Components
@using RestaurantApp.Blazor.Services
@inherits LayoutComponentBase
@inject NotificationService NotificationService

<MainHeader />
<NotificationList />
<div class="page">

    

    <main>

        @Body
    </main>
</div>

<MessageList />

@code {
    protected override async Task OnInitializedAsync()
    {
        await NotificationService.InitializeAsync();
    }
}