@using RestaurantApp.Blazor.Extensions
@using RestaurantApp.Blazor.Models.DTO
@using RestaurantApp.Shared.DTOs
@using RestaurantApp.Shared.DTOs.Restaurant
@using RestaurantApp.Shared.Models
@inject HttpClient Http

@if (restaurant != null)
{
    <div class="container mt-4">
        <div class="row justify-content-evenly">
            <div class="col-lg-8 col-12 w-100">
                <div>
                    <div class="text-center w-100">
                        <h3 class="mb-3">Change basic information regarding restaurant</h3>
                    </div>


                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="name" class="form-label">
                                Restaurant name <span class="text-danger">*</span>
                            </label>
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   @bind="modifiedRestaurant.Name"
                                   @bind:after="() => changesMade = true"
                                   required/>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="phone" class="form-label">
                                Restaurant Address: <span class="text-danger">*</span>
                            </label>
                            <input type="tel"
                                   class="form-control"
                                   id="address"
                                   @bind="modifiedRestaurant.Address"
                                   @bind:after="() => changesMade = true"
                                   required/>
                        </div>


                    </div>


                </div>

                <div class="col mb-3">
                    <label for="description" class="form-label">
                        Restaurant description: <span class="text-danger">*</span>
                    </label>
                    <textarea
                            class="form-control"
                            id="description"
                            rows="4"
                            @bind="modifiedRestaurant.Description"
                            @bind:after="() => changesMade = true">
                        </textarea>
                </div>

                @if (changesMade)
                {
                    <div class="row justify-content-center mb-3">
                        <div class="d-flex justify-content-center gap-3">
                            <button class="base-button" @onclick="SaveChanges">Save Changes</button>
                            <button class="grey-button" @onclick="CancelChanges">Cancel</button>
                        </div>
                    </div>
                }
                
                <h4 class="mb-3 text-center">Opening hours</h4>

                <OpeningHoursTab Id=@Id restaurant=@restaurant/>


                
            </div>
        </div>
    </div>

    
}
else
{
    <div class="loading-container">
        <div class="spinner"></div>
        <p>Loading...</p>
    </div>
}

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public required Restaurant? restaurant { get; set; }
    private Restaurant modifiedRestaurant = new Restaurant();
    private bool changesMade = false;

    protected override void OnParametersSet()
    {
        if (restaurant != null)
        {
            modifiedRestaurant = restaurant;
        }
    }

    private void CancelChanges()
    {
        modifiedRestaurant = restaurant;
    }

    private async Task SaveChanges()
    {
        try
        {
            RestaurantBasicInfoDto dto = new RestaurantBasicInfoDto
            {
                Name = modifiedRestaurant.Name,
                Address = modifiedRestaurant.Address,
                Description = modifiedRestaurant.Description
            };
            await Http.RequestWithHeaderAsync(HttpMethod.Patch, $"api/restaurant/{Id}/basic-info", dto, "X-Restaurant-Id", Id.ToString());

            changesMade = false;
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error saving data: {e.Message}");
        }
    }

}
