@using RestaurantApp.Blazor.Extensions
@using RestaurantApp.Blazor.Models.DTO
@using RestaurantApp.Shared.DTOs
@using RestaurantApp.Shared.DTOs.GeoCoding
@using RestaurantApp.Shared.DTOs.Restaurant
@using RestaurantApp.Shared.Models
@inject HttpClient Http

@if (restaurant != null)
{
    <div class="container mt-4">
        <div class="row justify-content-evenly">
            <div class="col-lg-8 col-12 w-100">
                <div>
                    <div class="text-center w-100">
                        <h3 class="mb-3">Change basic information regarding restaurant</h3>
                    </div>


                    <div class="row">
                        <div class="col-md-6 mb-3 h-100">
                            <label for="name" class="form-label">
                                Restaurant name <span class="text-danger">*</span>
                            </label>
                            <input type="text"
                                   class="form-control"
                                   id="name"
                                   @bind="modifiedRestaurant.Name"
                                   @bind:after="() => changesMade = true"
                                   required/>

                            <label for="description" class="form-label">
                                Restaurant description: <span class="text-danger">*</span>
                            </label>
                            <textarea
                                class="form-control"
                                id="description"
                                rows="8"
                                @bind="modifiedRestaurant.Description"
                                @bind:after="() => changesMade = true">
                        </textarea>


                        </div>

                        <div class="col-md-6 mb-3">

                            <label for="street" class="form-label">
                                Street and number: <span class="text-danger">*</span>
                            </label>
                            <input class="form-control"
                                   id="street"
                                   @bind="modifiedRestaurant.StructuredAddress.Street"
                                   @bind:after="() => {changesMade = true; addressModified = true; }"
                                   required/>

                            <label for="city" class="form-label">
                                City: <span class="text-danger">*</span>
                            </label>
                            <input class="form-control"
                                   id="city"
                                   @bind="modifiedRestaurant.StructuredAddress.City"
                                   @bind:after="() => {changesMade = true; addressModified = true; }"
                                   required/>

                            <label for="postal-code" class="form-label">
                                Postal code: <span class="text-danger">*</span>
                            </label>
                            <input class="form-control"
                                   id="postal-code"
                                   @bind="modifiedRestaurant.StructuredAddress.PostalCode"
                                   @bind:after="() => {changesMade = true; addressModified = true; }"
                                   required/>

                            <label for="country" class="form-label">
                                Country: <span class="text-danger">*</span>
                            </label>
                            <input class="form-control"
                                   id="country"
                                   @bind="modifiedRestaurant.StructuredAddress.Country"
                                   @bind:after="() => {changesMade = true; addressModified = true; }"
                                   required/>
                        </div>


                    </div>


                </div>

                <div class="col mb-3">
                   
                </div>

                @if (changesMade)
                {
                    <div class="row justify-content-center mb-3">
                        <div class="d-flex justify-content-center gap-3">
                            <button class="base-button" @onclick="SaveChanges">Save Changes</button>
                            <button class="grey-button" @onclick="CancelChanges">Cancel</button>
                        </div>
                    </div>
                }
                
                <h4 class="mb-3 text-center">Opening hours</h4>

                <OpeningHoursTab Id=@Id restaurant=@restaurant/>


                
            </div>
        </div>
    </div>

    
}
else
{
    <div class="loading-container">
        <div class="spinner"></div>
        <p>Loading...</p>
    </div>
}

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public required RestaurantDto? restaurant { get; set; }
    private RestaurantDto modifiedRestaurant = new RestaurantDto();
    private bool changesMade = false;
    private bool addressModified = false;

    protected override void OnParametersSet()
    {
        if (restaurant != null)
        {
            modifiedRestaurant = restaurant;
            if (restaurant.StructuredAddress == null)
            {
                modifiedRestaurant.StructuredAddress = new StructuresAddressDto();
            }
        }
    }

    private void CancelChanges()
    {
        modifiedRestaurant = restaurant;
    }

    private async Task SaveChanges()
    {
        try
        {
            RestaurantBasicInfoDto dto = new RestaurantBasicInfoDto
            {
                Name = modifiedRestaurant.Name,
                Address = modifiedRestaurant.Address,
                Description = modifiedRestaurant.Description,
            };
            await Http.RequestWithHeaderAsync(HttpMethod.Patch, $"api/restaurant/{Id}/basic-info", dto, "X-Restaurant-Id", Id.ToString());

            if (addressModified)
            {
                var result = await Http.PatchAsJsonAsync($"api/restaurant/{Id}/structured-address", modifiedRestaurant.StructuredAddress);
            }

            changesMade = false;
            addressModified = false;
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error saving data: {e.Message}");
        }
    }

}
