@using RestaurantApp.Shared.Models
<h3>RestaurantSettingsTab</h3>
Tutaj będą ustawienia restauracji
@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public Restaurant? restaurant { get; set; }
}