@using RestaurantApp.Blazor.Extensions
@using RestaurantApp.Blazor.Models.DTO
@using RestaurantApp.Blazor.Services
@using RestaurantApp.Shared.Common
@using RestaurantApp.Shared.DTOs.Auth
@using RestaurantApp.Shared.DTOs.Users
@using RestaurantApp.Shared.Models

@inject HttpClient Http
@inject NotificationService NotificationService
@inject AuthService AuthService
@if (IsVisible)
{
    <div class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change your password</h5>
                    <button type="button" class="btn-close" @onclick="Close"></button>
                </div>
                <div class="modal-body">

                    <EditForm Model="model" OnValidSubmit="Submit">


                        <div class="mb-3">
                            <label>Current password</label>
                            <InputText class="form-control" @bind-Value="model.CurrentPassword" />
                            <ValidationMessage For="@(() => model.CurrentPassword)" />
                        </div>

                        <div class="mb-3">
                            <label>New password</label>
                            <InputText class="form-control" @bind-Value="model.NewPassword" />
                            <ValidationMessage For="@(() => model.NewPassword)" />
                        </div>

                        <div class="mb-3">
                            <label>Repeat new password</label>
                            <InputText class="form-control" @bind-Value="model.RepeatNewPassword" />
                            <ValidationMessage For="@(() => model.RepeatNewPassword)" />
                        </div>
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                    </EditForm>
                </div>
                <div class="modal-footer">
                    <div class="d-flex">
                        <button type="button" class="button button--primary btn-primary" @onclick="Submit" disabled="@isSaving">
                            @if (isSaving)
                            {
                                <span class="spinner-border spinner-border-sm me-2"></span>
                                <span>Saving...</span>
                            }
                            else
                            {
                                <span>Save</span>
                            }
                        </button>
                        <button type="button" class="button button--grey" @onclick="Close">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }
    [Parameter] public EventCallback<CreateUserResponse> OnPasswordChanged { get; set; }
    private ChangePasswordModel model = new();
    
    private bool isSaving = false;
    private string currentPassword = "";
    private string repeatNewPassword = "";
    private string newPassword = "";

    private async Task Close()
    {
        ClearForm();
        await IsVisibleChanged.InvokeAsync(false);
    }

    private void ClearForm()
    {
        currentPassword = "";
        repeatNewPassword = "";
        newPassword = "";
        isSaving = false;
    }

    private async Task Submit()
    {
        var result = await Http.PostAsJsonAsync("api/Auth/change-password", new ChangePasswordRequest
        {
            CurrentPassword = model.CurrentPassword,
            NewPassword = model.NewPassword,
        });

        if (result.IsSuccessStatusCode)
        {
            NotificationService.AddNotification(new Notification
            {
                Title = "Success",
                Content = "Your password has been changed successfully. Please log in again with your new password.",
                Type = NotificationType.Success
            });
            await AuthService.LogoutAsync();
        }
        else
        {
            NotificationService.AddNotification(new Notification
            {
                Title = "Error",
                Content = "Error occured whan changing password. Please try again.",
                Type = NotificationType.Error
            });
        }
    }

    
}