@if (IsVisible)
{
    <div class="modal fade show d-block" tabindex="-1" style="background-color: rgba(0,0,0,0.5);">
        <div class="modal-dialog @GetSizeClass()">
            <div class="modal-content">
                @if (!HideHeader)
                {
                    <div class="modal-header">
                        <h5 class="modal-title">@Title</h5>
                        @if (ShowCloseButton)
                        {
                            <button type="button" class="btn-close" @onclick="Close"></button>
                        }
                    </div>
                }
                <div class="modal-body">
                    @ChildContent
                </div>
                @if (FooterContent != null)
                {
                    <div class="modal-footer">
                        @FooterContent
                    </div>
                }
            </div>
        </div>
    </div>
}

@code {
    public enum ModalSize
    {
        Small,
        Default,
        Large,
        ExtraLarge,
        Fullscreeen
    }

    [Parameter] public bool IsVisible { get; set; }
    [Parameter] public EventCallback<bool> IsVisibleChanged { get; set; }
    [Parameter] public string Title { get; set; } = "";
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public RenderFragment? FooterContent { get; set; }
    [Parameter] public bool ShowCloseButton { get; set; } = true;
    [Parameter] public bool HideHeader { get; set; } = false;
    [Parameter] public ModalSize Size { get; set; } = ModalSize.Default;
    [Parameter] public EventCallback OnClose { get; set; }

    private async Task Close()
    {
        await IsVisibleChanged.InvokeAsync(false);
        await OnClose.InvokeAsync();
    }

    private string GetSizeClass()
    {
        return Size switch
        {
            ModalSize.Small => "modal-sm",
            ModalSize.Large => "modal-lg",
            ModalSize.ExtraLarge => "modal-xl",
            ModalSize.Fullscreeen => "modal-fullscreen",
            _ => ""
        };
    }
}