@using System.Web
@using RestaurantApp.Blazor.Services
@using RestaurantApp.Shared.DTOs.Employees
@using RestaurantApp.Shared.DTOs.Users
@using RestaurantApp.Shared.Models
@inject NotificationService NotificationService
@inject HttpClient Http
@implements IDisposable

@{
    var containerClass = NotificationService.IsListVisible ? "visible" : "";
}

<div class="notification-list-container @containerClass">

    <div class="notification-header">
        <h4>Notifications</h4>
        @if (NotificationService.Notifications.Any())
        {
            <button class="clear-all-btn" @onclick="ClearAll">Clear all</button>
        }
    </div>
    
    <div class="notification-items">
        @if (NotificationService.Notifications.Any())
        {
            @foreach (var notification in NotificationService.Notifications.Reverse())
            {
                <NotificationItem 
                    Notification="notification"
                    OnDismiss="Remove"
                    OnDeclineInvitation="HandleDeclineInvitation" />
            }
        }
        else
        {
            <div class="no-notifications">
                <p>No new notifications.</p>
            </div>
        }
    </div>
</div>

@code {
    private bool _isLoading;

    protected override async Task OnInitializedAsync()
    {
        NotificationService.OnChange += StateHasChanged;
        
        if (!NotificationService.Notifications.Any())
        {
            _isLoading = true;
            await NotificationService.LoadNotificationsAsync();
            _isLoading = false;
        }
    }

    private async Task Remove(NotificationDto notification)
    {
        await NotificationService.RemoveNotificationAsync(notification);
    }

    private async Task HandleDeclineInvitation(NotificationDto notification)
    {

        var url = notification.ActionUrl;
        var uri = new Uri(url);
        var token = HttpUtility.ParseQueryString(uri.Query)["token"];
        var request = new TokenRequest{ Token = token};
        var response = await Http.PostAsJsonAsync("api/EmployeeInvitations/reject", request);
        if (response.IsSuccessStatusCode)
        {
            NotificationService.RemoveLocally(notification);
        }
    }

    private async Task ClearAll()
    {
        await NotificationService.ClearAllAsync();
    }

    public void Dispose()
    {
        NotificationService.OnChange -= StateHasChanged;
    }
}