<h3>RestaurantsMap</h3>
@if (position != null && mapParameters.location != null)
{
    @position.Coords.Latitude
    <RealTimeMap @ref="realTimeMap"
                 height="400px"
                 width="100%"
                 Parameters="@mapParameters"
                 OnAfterMapLoaded="@OnMapLoaded"
                 OnPanMap="@OnMapMoved"
                 OnClickMap="OnClickMap"
    >
    </RealTimeMap>
}
