<h3>RestaurantsMap</h3>
@if (position != null)
{
    @position.Coords.Latitude 
}

<RealTimeMap @ref="realTimeMap"
             height="400px"
             width="100%"
             Parameters="@mapParameters"
             OnAfterMapLoaded="@OnMapLoaded"
             >
</RealTimeMap>


@code {
    
}