@if (position != null && mapParameters.location != null)
{
    <RealTimeMap @ref="realTimeMap"
                 height="400px"
                 width="100%"
                 Parameters="@mapParameters"
                 OnAfterMapLoaded="@OnMapLoaded"
                 OnPanMap="@OnMapMoved"
                 OnClickMap="OnClickMap"
    >
    </RealTimeMap>
}
else
{
    <i class="bi bi-geo-alt"></i>
    <h3>Allow </h3>
}
