<div>
    <h4 class="mb-1 fw-bold">@currentDate.ToString("dddd, dd MMMM yyyy")</h4>
    <p class="text-muted mb-0">
        <i class="bi bi-clock me-1"></i>
        @currentDate.ToString("HH:mm:ss")
    </p>
</div>


@code {
    private DateTime currentDate = DateTime.Now;

    private System.Threading.Timer? timer;

    protected override async Task OnInitializedAsync()
    {
        timer = new System.Threading.Timer(_ =>
        {
            InvokeAsync(() =>
            {
                currentDate = DateTime.Now;
                StateHasChanged();
            });
        }, null, 0, 1000);
    }

    public void Dispose()
    {
        timer?.Dispose();
    }

}