@using RestaurantApp.Blazor.Components
@using RestaurantApp.Blazor.Pages.ManageReservationsPage
<div class="card flex-fill">
    <div class="card-header bg-primary">
        <h5 class="mb-1 fw-bold text-white">
            @Title
        </h5>
    </div>
    <div class="card-body shadow border-1">
        
        @if (isLoading)
        {
            <div class="loading-container">
                <div class="spinner"></div>
                <p>Loading...</p>
            </div>
        }
        else
        {
            foreach (var reservation in reservations)
            {
                <ReservationCard
                    Reservation="reservation"
                    OnClick="OpenReservationModal"
                    OnApprove="HandleApproveReservation"/>
            }
        }

    </div>

    <ReservationDetailsModal @bind-IsVisible="showReservationModal"
                             Reservation="selectedReservation"/>
    
</div>

