@using RestaurantApp.Blazor.Components
<h3 class="mb-4">Tables</h3>

<div class="container-fluid">
    @if (_loadedTables.Any())
    {
        <div class="row g-3">
            @foreach (var table in _loadedTables)
            {
                <div class="col-12 col-sm-6 col-md-4 col-lg-3" @onclick="() => ShowTableDetails(table)">
                    <TableComponent Table="table" />
                </div>
            }
        </div>
        
        
        <TableDetailsModal
            @bind-IsVisible="_showTableDetails"
            RestaurantId="Id"
            Table="_selectedTable"
            />

    }
    else
    {
        <div><h3 class="mb-4 my-3 w-100 text-center">This restaurant doesn't have tables configured yet</h3></div>
    }
</div>