@page "/test-page"
@using RestaurantApp.Shared.Models
@using RestaurantApp.Blazor.Services
@using RestaurantApp.Shared.Common
@using RestaurantApp.Blazor.Components.Layout
@using Microsoft.AspNetCore.Components.Authorization
@using RestaurantApp.Shared.DTOs.Users
@inject NotificationService NotificationService
@inject MessageService MessageService

<AuthorizeView>
    <Authorized>
        <h3>Strona Testowa Powiadomień</h3>

        <button class="btn btn-success" @onclick="AddSuccess">Dodaj Sukces</button>
        <button class="btn btn-danger" @onclick="AddError">Dodaj Błąd</button>
        <button class="btn btn-info" @onclick="AddInfo">Dodaj Info</button>
    </Authorized>
<NotAuthorized>
    <RedirectToLogin 
        UseReturnUrl="true"/>
</NotAuthorized>
</AuthorizeView>


@code {
    private void AddSuccess()
    {
        MessageService.AddSuccess("Saved", "Data saved successfully.");
    }

    private void AddError()
    {
        MessageService.AddError("Saved", "Data saved successfully.");
        MessageService.AddWarning("Saved", "Data saved successfully.");
    }

    private void AddInfo()
    {
        MessageService.AddInfo("Saved", "Data saved successfully.");
    }
}